.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 80px) 30px 30px;
    gap: 10px;
}
.box{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}
#box1{
    grid-row: span 5;
}
#box11, #box12{
    grid-column: span 3;
}
#box6, #box7, #box9, #box10{
    background: tomato;
}